:root{
    --color-text:rgb(243, 243, 243); 
    --color-bg: #202020;
    --choices-padding-x: 25px;
    --choices-padding-y: 15px;
    --choices-divs-margin-b: 30px;
    --logo-skew: -40deg;
}

@media (max-width: 575px){
    :root{
        --choices-width: 95%;
        --size-boxes: 80px;
        --font-size: 2rem;
        --logo-spacing: 3px;
        --logo-size: 3.2rem;
        --mode-btn-width: 50px;
        --mode-btn-height: 22px;
        --mode-btn-font-size: 12px;
        --mode-btn-margin-x: 10px;
        --options-btns-padding-x: 18px;
        --options-btns-padding-y: 5px;
        --options-btns-font-size: 0.7rem;
    }
}

@media (min-width: 576px){
    :root{
        --choices-width: 80%;
        --size-boxes: 100px;
        --font-size: 2.5rem;
        --logo-spacing: 4px;
        --logo-size: 4rem;
        --mode-btn-width: 55px;
        --mode-btn-height: 24px;
        --mode-btn-font-size: 14px;
        --mode-btn-margin-x: 12px;
        --options-btns-padding-x: 22px;
        --options-btns-padding-y: 5px;
        --options-btns-font-size: 0.7rem;
    }
}

@media (min-width: 768px){
    :root{
        --choices-width: 60%;
        --size-boxes: 110px;
        --font-size: 2.8rem;
        --logo-spacing: 5px;
        --logo-size: 4.4rem;
        --mode-btn-width: 60px;
        --mode-btn-height: 26px;
        --mode-btn-font-size: 15px;
        --mode-btn-margin-x: 14px;
        --options-btns-padding-x: 23px;
        --options-btns-padding-y: 5px;
        --options-btns-font-size: 0.75rem;
    }
}

@media (min-width: 992px){
    :root{
        --choices-width: 45%;
        --size-boxes: 120px;
        --font-size: 3rem;
        --logo-spacing: 6px;
        --logo-size: 4.8rem;
        --mode-btn-width: 65px;
        --mode-btn-height: 28px;
        --mode-btn-font-size: 16px;
        --mode-btn-margin-x: 14px;
        --options-btns-padding-x: 25px;
        --options-btns-padding-y: 6px;
        --options-btns-font-size: .8rem;
    }
}

@media (min-width: 1200px){
    :root{
        --choices-width: 35%;
        --size-boxes: 140px;
        --font-size: 3.5rem;
        --logo-spacing: 8px;
        --logo-size: 5.5rem;
        --mode-btn-width: 75px;
        --mode-btn-height: 30px;
        --mode-btn-font-size: 18px;
        --mode-btn-margin-x: 15px;
        --options-btns-padding-x: 28px;
        --options-btns-padding-y: 8px;
        --options-btns-font-size: .85rem;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive, Arial, Helvetica, sans-serif;
    color: var(--color-text);
}

html{
    transition: all 0.5s ease-in-out;
}

.light-mode{
    filter: invert(1) hue-rotate(180deg);
}

.box-container .top{
    position: fixed;
    right: calc(var(--mode-btn-height) - 5px);
    top: calc(var(--mode-btn-height) - 5px);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.switch-mode{
    display: flex;
    align-items: center;
    font-size: var(--mode-btn-font-size);
    font-weight: 600;
}

.switch-mode > span{
    display: flex;
    align-items: center;
    width: var(--mode-btn-width);
    height: var(--mode-btn-height);
    margin: 0 var(--mode-btn-margin-x);
    border: 2px solid var(--color-bg);
    border-radius: 50px;
    padding: 0 2.5px;
    cursor: pointer;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.05) inset,
                5px 5px 5px rgba(0, 0, 0, 0.3) inset;
}

.switch-mode > span.light{
    justify-content: flex-start;
}

.switch-mode > span.light{
    justify-content: flex-end;
}

.switch-mode > span::before{
    content: '';
    display: block;
    width: calc(var(--mode-btn-height) - 10px);
    height: calc(var(--mode-btn-height) - 10px);
    border-radius: 50%;
    background-color: var(--color-text);
}

.box-container .top .options{
    margin-right: 15px;
}

.box-container .top .options button,
.choices .box-choices button{
    cursor: pointer;
    border: 0;
    outline: none;
    padding: var(--options-btns-padding-y) var(--options-btns-padding-x);
    border-radius: 3px;
    font-size: var(--options-btns-font-size);
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.choices{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.hidden{
    opacity: 0;
    transition: all .5s ease-in-out;
}

.none{
    display: none;
}

.choices .box-choices{
    overflow: auto;
    min-width: var(--choices-width);
    padding: var(--choices-padding-y) var(--choices-padding-x);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.05) inset,
                5px 5px 5px rgba(0, 0, 0, 0.3) inset;
}

.choices .box-choices h3{
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    padding-bottom: 2px;
}

.choices .box-choices > div{
    margin-bottom: var(--choices-divs-margin-b);
}

.choices .box-choices label{
    display: block;
    margin: 5px 0;
}

.choices .box-choices > div:not(.names) label{
    cursor: pointer;
}

.choices .box-choices button{
    float: right;
    margin-left: 0;
    margin-right: 0;
}

.choices .box-choices input[type = "text"]{
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 2px;
}


.box-container{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.box-container .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(var(--logo-skew));
    font-size: var(--logo-size);
    letter-spacing: var(--logo-spacing);
    opacity: 0.1;
}

.box-container .box{
    border-radius: 5px;
    overflow: hidden;
}

.box-container .box .row{
    display: flex;
}

.box-container .box .row .col{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--size-boxes);
    height: var(--size-boxes);
    font-size: var(--font-size);
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.05) inset,
                5px 5px 5px rgba(0, 0, 0, 0.3) inset;
}

.box-container .box .row .col.done,
.box-container .box .row .col.full-box{ 
    pointer-events: none !important;
}

.box-container .box .row .col.done-h::before,
.box-container .box .row .col.done-v::before,
.box-container .box .row .col.done-ld::before,
.box-container .box .row .col.done-rd::before{
    content: "";
    position: absolute;
    background-color: var(--color-text);
}

.box-container .box .row .col.done-h::before{
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
}

.box-container .box .row .col.done-v::before{
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
}

.box-container .box .row .col.done-ld::before,
.box-container .box .row .col.done-rd::before{
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
}

.box-container .box .row .col.done-ld::before{
    transform: skew(45deg, 0) translateX(-50%);
}

.box-container .box .row .col.done-rd::before{
    transform: skew(-45deg, 0) translateX(-50%);
}

.box-container .result-popup{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all .75s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: calc(var(--size-boxes) * 3.5);
    background: var(--color-bg);
    z-index: 999;
    padding: var(--choices-padding-y) var(--choices-padding-x);
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.05) inset,
                5px 5px 5px rgba(0, 0, 0, 0.3) inset;
}

.show{
    opacity: 1 !important;
}

.box-container .result{
    font-size: calc(var(--font-size) - .75rem);
    text-align: center;
}

.box-container .names{
    position: fixed;
    left: calc(var(--mode-btn-height) - 5px);
    bottom: calc(var(--mode-btn-height) - 5px);
    display: flex;
    align-items: center;
}

.box-container .names > div:not(:last-of-type){
    margin-right: 20px;
}

.box-container .activeChar{
    position: fixed;
    right: calc(var(--mode-btn-height) - 5px);
    bottom: calc(var(--mode-btn-height) - 5px);
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.05),
                5px 5px 5px rgba(0, 0, 0, 0.3),
                -5px -5px 5px rgba(255, 255, 255, 0.05) inset,
                5px 5px 5px rgba(0, 0, 0, 0.3) inset;
}